
/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.greet {
  font-size: 2em;
  font-family: "Helvetica Neue";
  color: #98AFC7;
}

.name {
  font-size: 2.5em;
  font-family: 'Shadows Into Light', cursive;
  color: #6D7B8D;
}

.intro {
  font-size: 1.5em;
  font-family: "Helvetica Neue";
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    cursor: hand;
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    transition: background .5s ease-in, transform .5s .25s ease-in-out;

}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #c61140;
    transform: scale(1.2);
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 110%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.flip {
  width: 80%;
  margin: 4em auto;
  text-align: center;
  perspective: 800px;
}

.fancy_text {
  display: inline-block;
  /*margin-left: -30px;*/
  color: #7e7e9a;
  font-size: 7em;
  font-weight: bold;
  font-family: 'Sans Pro';
  transform-origin: 50% 70%;
}

.fancy_text:nth-child(2n) {
  color: #2d5986;
}

.fancy_text:nth-child(1) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55) both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2s forwards, /*forwards ensures letters will stay down after animation*/
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.1s;
}

.fancy_text:nth-child(2) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55).2s both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.2s forwards,
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.2s;

}

.fancy_text:nth-child(3) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.4s forwards,
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 5.1s;
}

.fancy_text:nth-child(4) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.6s forwards,
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.8s;
  margin-right: 30px;
}

.fancy_text:nth-child(5) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55).8s both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 2.8s forwards,
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 5.1s;
}

.fancy_text:nth-child(6) {
  animation: flipUp 1.2s cubic-bezier(0.68, -0.55, 0.26, 1.55)1s both,
              flipDown .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 3s forwards,
              dangle 4s cubic-bezier(0.45, 0.03, 0.51, 0.95) forwards 4.8s;
}
/*flip up from lying flat on ground */
@keyframes flipUp {
  from{transform: rotateX(90deg);} /*rotation 90degs on the x axis backwards in space */
  to{transform: rotateX(0deg);}
}

@keyframes flipDown {
  from{transform: rotateX(0deg);}
  to{transform: rotateX(-180deg);}
}

@keyframes dangle {
  0%{
    transform: rotateX(-180deg);
  }
  20%{
    transform: rotateX(-180deg) rotateY(-45deg)
  }
  40%{
    transform: rotateX(-180deg) rotateY(45deg);
  }
  60%{
    transform: rotateX(-180deg) rotate(-45deg);
  }
  80%{
    transform: rotateX(-180deg) rotateY(45deg);
  }
  100%{
    transform: rotateX(-180deg);
  }
}

/* About */

.about {
    padding: 50px 0;
    /* we need to define the animation style for #about */
    opacity: 0;
    transform: translateY(40px); /* starting position is 40px from original position */
    transition: all 1.8s ease-in;
    position: relative;
    background: white;
}

.about.fade-in {
  opacity: 1;
  transform: translateY(0); /* now we have an ending state */
}

.img-thumbnail {
  width: 25%;
  height: 25%;
  border-radius: 200px;
  background-color: grey;
}

/* Services */

.services {
    padding: 50px 0;
    opacity: 0;
    transform: translateY(40px); /* starting position is 40px from original position */
    transition: all 1.5s ease-out;

}

.services.fade-in {
  opacity: 1;
  transform: translateY(0); /* now we have an ending state */
}


.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 500px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
    position: relative;
    background-color: white;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
    transition: transform .5s 0.25s ease-in-out;
}

.img-portfolio:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Footer */

footer {
    padding: 100px 0;
}

#contact {
  background-color: #fff;
}
